.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -450;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: yellowgreen;
  }
  
  .input-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-div input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .movie-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
  }
  
  .movie-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  @media (min-width: 641px) {
    .movie-display {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  @media (min-width: 1025px) {
    .movie-display {
      grid-template-columns: repeat(3, 1fr);
    }
    .container{
      
        margin-top: ;
        
    }
  }
  